.CodeAboutContent {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
    .separator {
        flex-basis: 100%;
    }
    h1 {
        display: flex;
        font-size: 1.6em;
        margin: 30px auto;
        color: white;
        justify-content: center;
        text-align: center;
        background-color: #05DB91;
        padding:  10px 20px;
        border-radius: 5px;
        animation: slide-top 0.7s ease-in-out 0.4s both;
        box-shadow: -1px 3px 17px 12px rgba(121, 121, 121, 0.114);
    }
}