footer {
    display: flex;
    flex-basis: 100%;
    font-family: 'Open Sans', sans-serif;
    animation: slide-bottom 0.4s ease-in-out 0.2s both;
    > div {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        max-width: 1200px;
        margin: 0 auto; 
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        .nav-footer {
            display: flex;
            column-gap: 20px;
            a {
                text-decoration: none;
                color: black;
            }
        }
        .social-networks {
            display: flex;
            column-gap: 20px;
            a { 
                display: flex;
                text-decoration: none;
                color: black;
                align-items: center;
                border: solid 2px #04d28394;
                padding: 10px;
                border-radius: 10px;
                img, svg {
                    margin-left: 10px;
                    height: 30px;
                }
                &:hover {
                    border: solid 2px white;
                    color: white;
                    background-color: #04d28394;
                }
            }
            .github-icon {
                font-size: 3em;
            }
            .linkdin-logo {
                font-size: 2em;
            }
            .malt {
                height: 30px;
            }
        }
        .cities {
            display: flex;
        }
    }
}