footer {
    display: flex;
    flex-basis: 100%;
    font-family: 'Open Sans', sans-serif;
    animation: slide-bottom 0.4s ease-in-out 0.2s both;
    background-color: white;
    margin-top: 20px;
    height: 150px;

    > div {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        max-width: 1200px;
        margin: 0 auto; 
        justify-content: space-between;
        align-items: center;
        font-weight: 400;

        }
        .social-networks {
            display: flex;
            column-gap: 20px;
            a { 
                display: flex;
                text-decoration: none;
                color: white;
                font-weight: 600;
                align-items: center;
                border: solid 2px #04d28394;
                padding: 10px;
                border-radius: 10px;
                background-color: #05DB91;
                img, svg {
                    margin-left: 10px;
                    height: 30px;
                }
                &:hover {
                    border: solid 2px white;
                    color: white;
                    background-color: #04d28394;
                }
            }
            .github-icon {
                font-size: 3em;
                color: black;
            }
            .linkdin-logo {
                font-size: 2em;
                color: #0e76a8;
            }
            .malt {
                height: 30px;
            }
        }
        .cities {
            display: flex;
            font-weight: 800;
            color: black;
        }
}
@media screen and (max-width: 600px) {
    footer {
        margin-top: 20px;
        > div {
            justify-content: center;
            .nav-footer {
                display: none;
            }
            .social-networks {
                a {
                    font-size: 0.51em;
                    padding: 0 5px;
                }
                .malt {
                    height: 15px;
                }
            }
            .cities {
                font-size: 0.84em;
            }
        }
    }
}