header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    column-gap: 100px;
    animation: slide-top 0.4s ease-in-out 0.2s both;
    padding: 0 20px;
    .responsive-menu-container {
        display: none;
    }
    > a > img {
        height: 150px;
        object-fit: cover;
        object-position: center center;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        column-gap: 20px;
        justify-content: space-between;
        row-gap: 10px;
        a { 
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            font-size: 1.1em;
            font-weight: 600;
            svg {
                margin-right: 20px;
                color: #04d283e8;
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    header {
        .responsive-menu-container {
            display: flex;
        }
        > a > img {
            height: 150px;
            
        }
        nav {
            display: none;
        }
    }
}