@import '../../scss/bases/typography.scss';
@import '../../scss/animations/animations.scss';


.homepage {
    display: flex;
    flex-basis: 100%;
    height: 65vh;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    .profile {
        display: flex;
        height: 220px;
        flex-basis: 100%;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 20px auto 0 auto;
        .profilePicture {
            
            > img {
                border: solid 4px #04d283e8;
                height: 120px;
                border-radius: 50%;
                width: 120px;
                object-fit: cover;
                object-position: 10% 5%;
                box-shadow: -1px 3px 17px 12px rgba(0,0,0,0.09);
                animation: slide-bottom 0.3s ease-in 0.3s both;
            }
        }
    }
    .question-modale-container {
        display: flex;
        height:  150px;
        flex-basis: 100%;
        margin-top: 50px;
    }

}
